h3(style="color: red;") Informacíon
div
    p Argumentos de entrada: #{argumentos} 
    p Sistema opertativo: #{process.platform}
    p Versión de node.js: #{process.version}  
    p Memoria total reservada: #{memoria}
    p Path de ejecución: #{process.execPath}
    p Process id: #{process.pid}
    p Carperta del proyecto: #{process.cwd()} 
    p Procesadores presentes en el servidos: #{CPU_CORES}