div 
    img(src=srcImg style="width: 60px; border-radius: 20px")
    h1 #{userInfo.nombreCompleto}
    h5 Email: #{userInfo.email} 
    h5 Edad: #{userInfo.edad}
    h5 Cumpleaños: #{userInfo.aniversario}
    h5 Dirección: #{userInfo.direccion}
    h5 Teléfono: +#{userInfo.telefono}
div 
    div.table-responsive
        if carrito.productos.length > 0
            div(class="table-responsive")
                table.table.table-dark
                    tr(class="text-center" style="color: yellow;") 
                        th Id
                        th Producto 
                        th Precio
                        th Imagen
                    each product in carrito.productos
                        tr
                            td(class="text-center col-3")=product.id
                            td(class="text-center col-3")=product.nombre
                            td(class="text-center col-3")=product.precio
                            td(class="text-center col-3")
                                img(width="30" src=product.imagen, alt="")
        else
            h3(class="alert alert-warning text-center") No hay productos en el carrito
    form(method="GET" action="/api/home")
        div.form-group 
            button.btn.btn-success.mt-3(type="submit") Volver a la home
    form(method="POST" action="/api/carrito/comprar/productos")
        div.form-group 
            button.btn.btn-success.mt-3(type="submit") Comprar



