div.mt-5
    h2(style="color:crimson;" class="text-center") Historial de ordenes
    br
    div.table-responsive
        if ordenes.length > 0
            div(class="table-responsive")
                table.table.table-dark
                    tr(class="text-center" style="color: yellow;") 
                        th Id
                        th Email 
                        th Estado
                        th Numero de orden
                        th Fecha
                        th Pedido
                    each orden in ordenes
                        tr
                            td(class="text-center col-3")=orden.id
                            td(class="text-center col-3")=orden.email
                            td(class="text-center col-3")=orden.estado
                            td(class="text-center col-3")=orden.numeroDeOrden
                            td(class="text-center col-3")=orden.timestamp
                            td(class="text-center col-3")=orden.items
        else
            h3(class="alert alert-warning text-center") No se encontraron ordenes
