div(class="container text-center my-3")
    h2 Variables de entorno 
    p Puerto: #{PORT}
    p Persistencia: #{PERS}
    p Clave secreta: #{SECRET_KEY}
    p Mongo url: #{MONGO_URL}
    p Node env: #{NODE_ENV}
    p Tiempo de sesion: #{SESSION_TIME}

